<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8">
<head>
<style>
#map-canvas {

	height:300px;
}
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<script src="https://maps.googleapis.com/maps/api/js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- <script>
	var map;

	var markerData= [
		
		{lat: -9.57 , lng: -36.78  , zoom: 8 , name: "Alagoas"},
		{lat: -9.53, lng: -37.29  , zoom: 13 , name: "Olho dagua das Flores"},
		{lat: -9.37 , lng: -37.24  , zoom: 13 , name: "Santana do Ipanema"},
		{lat: -9.75 , lng: -36.66  , zoom: 13 , name: "Arapiraca"},
		{lat: -9.64 , lng: -35.70  , zoom: 13 , name: "Maceió"},
		{lat: -10.29 , lng: -36.60  , zoom: 13 , name: "Penedo"},
		{lat: -9.38 , lng: -38.00  , zoom: 13 , name: "Delmiro Golveia"},
		{lat: -9.75 , lng: -37.43  , zoom: 13 , name: "Pão de Açucar"},
		{lat: -9.40 , lng: -36.63  , zoom: 13 , name: "Palmeria dos Índios"},
		{lat: -9.67 , lng: -37.13  , zoom: 13 , name: "Batalha"},
		
	];
	 
	function initialize() {
		 	map = new google.maps.Map(document.getElementById('map-canvas'), {
				zoom: 8,
				center: {lat: -9.53, lng: -37.29}
			});
			markerData.forEach(function(data) {
				var newmarker= new google.maps.Marker({
					map:map,
					position:{lat:data.lat, lng:data.lng},
					title: data.name
				});
				jQuery("#selectlocation").append('<option value="'+[data.lat, data.lng,data.zoom].join('|')+'">'+data.name+'</option>');
			});

	}

	google.maps.event.addDomListener(window, 'load', initialize);

	jQuery(document).on('change','#selectlocation',function() {
		var latlngzoom = jQuery(this).val().split('|');
		var newzoom = 1*latlngzoom[2],
		newlat = 1*latlngzoom[0],
		newlng = 1*latlngzoom[1];
		map.setZoom(newzoom);
		map.setCenter({lat:newlat, lng:newlng});
	});

</script> -->
<script >

   $(document).ready(function(e) {
       var val = [];
            $("#btnverificar").click(function(e) {
                $.each(($("input[type=checkbox]:checked")), function(index, obj){

                    val.push(obj.value);
                    //var value = (this.checked) ? parseFloat((valTotal + valInput)) : parseFloat((valTotal - valInput));
                    total.value = obj.value;
                    t_lista = val.length;
                });
                alert(val.length);

            });

        });
</script>


</head>
<body >
  <div class="col-md-12 col-sm-12">
  
  	<!-- <select id="selectlocation" onchange="ChamarLink();">
  		
  	</select>  -->
 
  </div>
  <div class="col-md-12 col-sm-12" >
  	<!-- <div class="col-md-6 col-sm-6" id="map-canvas"></div> -->
  <button type="button" id="btnverificar">Duplicar Registro</button>
  	<div class="col-md-12">
  		<h3>Valores dos ítens selecionados</h3>
  		R$ <input type="text" size="45" name="total" id="total" value="0,00" disabled />
	  </div>	

	  <div class="col-md-12">
  		<h3>Média dos Valores dos ítens selecionados</h3>
  		R$ <p id="medias" style="color: red"></p>
	  </div>
      <div class="col-md-12">
          <p id="demo"></p>
      </div>

	  <p id="show_city"></p>
  	<div class="col-md-12 col-sm-12" ng-model="products">
  		{{ids}} registros<br />
  		<div id="receberLink"></div>
  		<ul class="list-group">

            <select id="citys">
               <option value = "---">Cidades</option>
               <option value = "OLHO D'AGUA DAS FLORES">OLHO D'AGUA DAS FLORES</option>
                <option value = "SAO JOSE DA TAPERA">SAO JOSE DA TAPERA</option>
                <option value = "SANTANA DO IPANEMA">SANTANA DO IPANEMA</option>
                <option value = "ARAPIRACA">ARAPIRACA</option>
                <option value = "JACARE DOS HOMENS">JACARE DOS HOMENS</option>
                <option value = "CARNEIROS">CARNEIROS</option>
                <option value = "OLIVENCA">ARAPIRACA</option>
                <option value = "BATALHA">BATALHA</option>
                <option value = "MONTEIROPOLIS">MONTEIROPOLIS</option>
                <option value = "POCO DAS TRINCHEIRAS">POCO DAS TRINCHEIRAS</option>
            </select>

        <span id="t"></span>
        {% for i in obj %}
	  			<div class="col-md-12 checkbox">
	  			<li class="list-group-item"><input type="checkbox" name="p" class="valores" class="w3-check" id='p' value="{{i.valUltimaVenda}}">
	  			{{i.dscProduto}} R$ {{i.valUltimaVenda}} <input type="text" size="45" id="municipio" value="{{ i.nomMunicipio }}" disabled/></li>
	  		    </div>

					<br />

	  		{% endfor %}
            <!--<button onclick="verifica()">Verificar</button>-->
	  	</ul>	
  	</div>

  </div>
</body>
</html>