<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8">
<head>
<style>
#map-canvas {

	height:300px;
}
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<script src="https://maps.googleapis.com/maps/api/js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script >
$(function(){
	total = document.getElementById('total');
	list = new Array();
	$(document.getElementsByName('p')).bind('click',function(){

		var valTotal = total.value;

		valTotal = parseFloat(valTotal.replace(',','.'));

		var valInput = (this.value);

		valInput = parseFloat(valInput.replace(',','.'));

		var novoTotal=0;
		total.value = (this.checked) ? parseFloat(( valTotal + valInput )) : parseFloat(( valTotal - valInput )) ;
		list.push(valInput);
		t_lista = list.length;
		var valores = total.value;

		media = parseFloat(valores)/t_lista;
		document.getElementById('medias').innerHTML = media;
		document.getElementById('demo').innerHTML = t_lista;
		if (!this.checked){
	       list.pop();
    }
	});
});
</script>


</head>
<body >
  <div class="col-md-12 col-sm-12">
  
  	<!-- <select id="selectlocation" onchange="ChamarLink();">
  		
  	</select>  -->
 
  </div>
  <div class="col-md-12 col-sm-12" >
  	<!-- <div class="col-md-6 col-sm-6" id="map-canvas"></div> -->

  	<div class="col-md-12">
  		<h3>Valores dos ítens selecionados</h3>
  		R$ <input type="text" size="45" name="total" id="total" value="0,00" disabled />
	  </div>	

	  <div class="col-md-12">
  		<h3>Média dos Valores dos ítens selecionados</h3>
  		R$ <p id="medias" style="color: red"></p>
	  </div>
      <div class="col-md-12">
          <p id="demo"></p>
      </div>

	  <p id="show_city"></p>
  	<div class="col-md-12 col-sm-12" ng-model="products">
  		{{ids}} registros<br />
  		<div id="receberLink"></div>
  		<ul class="list-group">

            <select id="citys">
               <option value = "---">Cidades</option>
               <option value = "OLHO D'AGUA DAS FLORES">OLHO D'AGUA DAS FLORES</option>
                <option value = "SAO JOSE DA TAPERA">SAO JOSE DA TAPERA</option>
                <option value = "SANTANA DO IPANEMA">SANTANA DO IPANEMA</option>
                <option value = "ARAPIRACA">ARAPIRACA</option>
                <option value = "JACARE DOS HOMENS">JACARE DOS HOMENS</option>
                <option value = "CARNEIROS">CARNEIROS</option>
                <option value = "OLIVENCA">ARAPIRACA</option>
                <option value = "BATALHA">BATALHA</option>
                <option value = "MONTEIROPOLIS">MONTEIROPOLIS</option>
                <option value = "POCO DAS TRINCHEIRAS">POCO DAS TRINCHEIRAS</option>
            </select>

        <span id="t"></span>
        {% for i in obj %}
	  			<div class="col-md-12 checkbox">
	  			<li class="list-group-item"><input type="checkbox" name="p" class="valores" class="w3-check" id='p' value="{{i.valUltimaVenda}}">
	  			{{i.dscProduto}} R$ {{i.valUltimaVenda}} <input type="text" size="45" id="municipio" value="{{ i.nomMunicipio }}" disabled/></li>
	  		    </div>

					<br />

	  		{% endfor %}
            <!--<button onclick="verifica()">Verificar</button>-->
	  	</ul>	
  	</div>

  </div>
</body>
</html>